*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
:root{
  --white: white;
  --black:black;
  --red:  #FF0000; 
  --dark-white:rgb(194, 194, 194);
  --main-bg-color:rgb(241, 241, 241);
}
body{
  background-color:var(--main-bg-color);
}